v-env
.env
!.env.example

node_modules
__pycache__
v-env
.DS_Store
aws_cf_deploy_anything_llm.json
yarn.lock
*.bak
.idea
desktop/dist/
server/storage/anthropic_oauth.json
test-results/
package-lock.json
